<div class="container">

<nav class="navbar navbar-inverse">
  <label class="navbar-brand" href="dashboard">Hirecraft</label>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="dashboard">Home</a>
    </li>
    <li>
      <a href="newrequest">New Requests</a>
    </li>
  </ul>
</nav>

</div>

<h2>
  <div class="container">
    <a href="pagenotfound">DB Request Raised <span class="badge">{{counts.requests}}</span></a> <br>
    <a href="">Documented DB Objects <span class="badge">{{counts.total}}</span></a><br>
    <a href="">Objects Approved <span class="badge">{{counts.approved}}</span></a><br>
  </div>
</h2>